#delete_item {
	cursor: pointer;
	color: red;
}
#edit_item {
	cursor: pointer;
}
#related_list_multiple_box {
	display: none;
}
#related_list_box {
	border:1px solid #ddd;
	padding: 0 10px;
	margin: 10px 0 0;
}
#related_update_button, #related_cancel_button {
	display: none;
}
